<div class="App">
  <header class="App-header">
   <% groups = divide_array(["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l"], 3) %>
<% groups.each do |group| %>
  <%= group.inspect %><br>
<% end %>
  </header>
</div>
